<div id="main">
<section class="message"><%= @messages if @messages%></section>

<!-- go back home -->
	<section class="home">
    <form action= '/' method="get">
	<p class = "bottun"><input type="submit" value="go back"></p>
    </form>
    </section>

</div>
