<div id="main">
<p>posted</p>
<section class="dashboard">
    <p>go back dashboard</p>
    <form action= '/dashboard' method="get">
	<p class = "bottun"><input type="submit" value="dashboard"></p>

    </section>
</div>